<nav id="mainnav-container">
    <div id="mainnav">
        <div id="mainnav-menu-wrap">
            <div class="nano">
                <div class="nano-content">
                    <div id="mainnav-profile" class="mainnav-profile">
                        <div class="profile-wrap text-center">
                            <div class="pad-btm">
                                <img class="img-lg" src="img/profile-photos/1.png" alt="Girls Power">
                            </div>
                        </div>
                    </div>
                    <ul id="mainnav-menu" class="list-group">
                        <li class="list-header">Vid&eacute;os</li>

                        <li class="">
                            <a asp-page="Videos">
                                <i class="pli-video"></i>
                                <span class="menu-title">Videos</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="https://www.youtube.com/playlist?list=PL5Kprdw8GhxeT4NldaEE_q9EzT5Og2XxZ" target="_blank">
                                <i class="pli-youtube"></i>
                                <span class="menu-title">Playlist Youtube</span>
                            </a>
                        </li>
                        <li>
                            <a asp-page="Speakers">
                                <i class="pli-love-2"></i>
                                <span class="menu-title">
                                    <strong>Invit&eacute;s</strong>
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="pli-shop"></i>
                                <span class="menu-title">Boutique</span>
                            </a>
                        </li>

                        <li class="list-divider"></li>
                        <li class="list-header">Communautés</li>

                        <!--Menu list item-->
                        <li class="">
                            <a asp-page="CodeOfConduct">
                                <i class="pli-leafs"></i>
                                <span class="menu-title">Code de conduite</span>
                            </a>

                            <a href="https://www.facebook.com/MicrosoftDeveloper/?brand_redir=129459787073480" target="_blank">
                                <i class="pli-facebook"></i>
                                <span class="menu-title">Facebook</span>
                            </a>

                            <a href="https://twitter.com/MSDev_FR" target="_blank">
                                <i class="pli-twitter"></i>
                                <span class="menu-title">Twitter</span>
                            </a>

                        </li>


                        <li class="list-divider"></li>
                        <li class="list-header">Fait avec beaucoup <i class="pli-heart"></i> </li>
                        <li>
                            <a href="#">
                                <i class="pli-3d-glasses"></i>
                                <span class="menu-title">Space Y</span>
                            </a>
                            <a href="http://www.mic-belgique.be">
                                <i class="pli-windows-microsoft"></i>
                                <span class="menu-title">Microsoft Innovation Center Belgique</span>
                            </a>
                            <a href="https://www.senseoftech.be">
                                <i class="pli-sunglasses"></i>
                                <span class="menu-title">Sense Of Tech</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</nav>