@page
@model TartineEtTech.Website.Pages.ActivitiesModel
@{
    ViewData["Title"] = "Activités";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div id="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-body">
                <h1>Activités</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel text-center">
                <div class="pad-all bg-dark " style="height:300px;">
                    <img src="~/img/activities/stay.jpg" style="max-width: 100%;" />
                </div>
                <div class="pad-btm">
                    <p class="text-2x mar-no text-main">
                        Stay The F*** At Home Hackathon <br />
                        Le 3 avril @@ Home <br />
                        Registration : <a href="https://www.eventbrite.be/e/stay-the-f-at-home-hackathon-tickets-100752587702?aff=ebdssbdestsearch">Lien</a><br />
                        Prix : Gratuit
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel text-center">
                <div class="pad-all bg-dark " style="height:300px;">
                    <img src="~/img/activities/hackinthewoods.png" style="max-width: 100%;" />
                </div>
                <div class="pad-btm">
                    <p class="text-2x mar-no text-main">
                        Hack in the Woods <br />
                        Le 25 juin @@ Tournai (Belgique)<br />
                        Registration : <a href="http://www.hackinthewoods.be/">Lien et info</a><br />
                        Prix : 75 &euro;
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel text-center">
                <div class="pad-all bg-dark " style="height:300px;" >
                    <img src="~/img/activities/devday.png" style="max-width: 100%;" />
                </div>
                <div class="pad-btm">
                    <p class="text-2x mar-no text-main">
                        DevDay <br />
                        Le 17 novembre 2020 @@ Louvain-La-Neuve (Belgique)<br />
                        Information : <a href="http://www.devday.be/">Lien</a><br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
